<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareMyRide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95F091491C75847100EDA2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F0915D1C75847100EDA2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F091681C75847100EDA2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
